.CardContainer{
  width: 100%;
  height: 100%;
  max-width: 330px;
  border: 1px solid gray;
  border-radius: 21px;
  padding: 38px 37px;
  max-height: 465px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
*{
  font-family: 'Noto Sans';
}
a{
  text-decoration: none;
}
.button{
  outline: none;
  border: 1px solid #BDBDBD;
  padding: 8px 35px;
  border-radius: 7px;
}
.CardContainer .submitButton{
  background: #2F80ED;
  border: none;
  color: white;
  width: 100%;
  padding: 9px 0;
  border-radius: 5px;
  margin-top: 18px;
  transition: 0.3s;
}
.CardContainer .submitButton:hover{
  opacity: 0.7;
  cursor: pointer;
}
.InputZone{
  flex-direction: column;
  display: flex;
}
.InputZone .mailIcon{
  margin-top: 66.5px;
}
.InputZone img{
  position: absolute;
  margin-top: 9.5px;
  margin-left: 8px;
}
.transparentParagraphe{
  text-align: center;
}
.transparentParagraphe{
  opacity: 0.8;
}
.LoginWithSocialMedia .socialMediaConnect{
  display: flex;
  justify-content: space-around;
}
.LoginWithSocialMedia .socialMediaConnect .mediaBox{
  border: 1px solid #828282;
  border-radius: 50%;
  padding: 8px 10px;
}
.userPhoto{
  width: 100%;
  border-radius: 6px;
}
.BlueLoginButton{

  color: blue;
}